{% extends "base.html" %}

{% block title %}
  <title>Search Courses</title>
{% endblock %}

{% block content %}
  <div class="container">
    
    <div class="row">
      <h5 class="display-5">Pesquisa por Cursos</h5>
    </div>

    <div class="row my-3">
      <a href="{% url 'dashboard' %}" class="btn btn-secondary">Ir para o Dashboard</a>
    </div>

    <div class="row my-3">
      <!-- Search Form -->
      <form method="GET">
        <div class="mb-3">
          <label for="search" class="form-label">Procura pelo nome do Curso</label>
          <input type="text" id="search" name="query" class="form-control" placeholder="Enter course name" value="{{ query }}">
        </div>
        <button type="submit" class="btn btn-primary">Pesquisar</button>
      </form>
    </div>

    <div class="row mt-5">
      <h6 class="text-muted">Resultados:</h6>
      {% if courses %}
        <ul class="list-group">
          {% for course in courses %}
            <li class="list-group-item">
              <strong>{{ course.nome }} | {{ course.professor }}</strong>
              <br>
              {{ course.descricao }}
              <h6 class="mt-2">Módulos:</h6>
              {% if course.modulos.all %}
                <ul>
                  {% for module in course.modulos.all %}
                    <li>{{ module.nome }}</li>
                  {% endfor %}
                </ul>
              {% else %}
                <p>No modules available.</p>
              {% endif %}
              <form method="POST">
               {% csrf_token %}
               <input type="hidden" name="curso_id" value="{{ course.id }}">
               <button type="submit" class="btn btn-primary mt-2">Inscrever</button>
             </form>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>Nenhum curso encontrado.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
