{% extends "base.html" %}

{% block title %}
  <title>Login</title>
{% endblock %}

{% block content %}
<div class="container my-5">
  <h2 class="fw-bold text-center mb-4">Login na Plataforma de Cursos</h2>

  <!-- Mensagens de erro -->
  <div class="text-danger fw-bold">
    {% for error in errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </div>

  <!-- Mensagem de sucesso -->
  <div class="text-success fw-bold">
    {% if msg %}
      <div class="badge bg-success text-wrap" style="font-size: large;">
        {{ msg }}
      </div>
    {% endif %}
  </div>

  <div class="bg-white p-5 rounded shadow-sm">
    <form method="POST">
      {% csrf_token %}
      <div class="mb-4">
        <label class="form-label fw-bold">Nome (Apenas para criar conta na primeira vez)</label>
        <input type="text" required placeholder="Seu nome" name="name" value="{{ name }}" class="form-control">
      </div>
      <div class="mb-4">
        <label class="form-label fw-bold">Email</label>
        <input type="email" required placeholder="Seu email" name="email" value="{{ email }}" class="form-control">
      </div>
      <div class="mb-4">
        <label class="form-label fw-bold">Senha</label>
        <input type="password" required placeholder="Senha segura" name="password" class="form-control">
      </div>
      <button type="submit" class="btn btn-dark w-100">Submeter</button>
    </form>
  </div>
</div>
{% endblock %}
